[Unit]
Description=Run Moomoo watch dog every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=dsa-moomoo-watchdog.service

[Install]
WantedBy=timers.target
